<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ilija Page</title>

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      header {
        background-color: #f8f9fa;
        border-bottom: 2px solid #ccc;
        padding: 10px 0;
      }

      .logo {
        width: 100%;
        max-width: 300px;
        height: auto;
      }

      .side-nav {
        background-color: #343a40;
        color: #fff;
        height: 170vh;
        width: 200px;
        position: absolute;
        left: 0;
        top: 0;
        padding-top: 20px;
        margin-top: 135px;
        overflow-y: auto;
      }

      .nav-link {
        color: #fff !important;
      }

      .content-area {
        margin-left: 200px;
        padding: 20px;
      }

      footer {
        background-color: #f8f9fa;
        border-top: 2px solid #ccc;
        padding: 20px 0;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
      }

      .dropdown-container {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-right: 10px;
      }

      .dropdown-container .dropdown,
      .dropdown-container .btn {
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-white bg-white">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              src="../../assets/images/logo-removebg-preview.png"
              alt="Logo"
              class="logo"
            />
          </a>
          <div class="dropdown-container">
            <div class="dropdown pb-4">
              <a
                href="#"
                class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle"
                id="dropdownUser1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="../../assets/images/armedialogo.jpg"
                  alt="User"
                  width="30"
                  height="30"
                  class="rounded-circle"
                />
                <span class="d-none d-sm-inline mx-1">User</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
            <button
              class="btn btn-outline-dark me-2"
              onclick="window.location.href='/login'"
            >
              Login
            </button>
            <button
              class="btn btn-dark"
              onclick="window.location.href='/register'"
            >
              Register
            </button>
          </div>
        </div>
      </nav>
    </header>

    <div class="side-nav">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 text-white"
      >
        <ul
          class="nav flex-column align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a href="/homepage" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i>
              <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li>
            <a
              href="#submenu2"
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
            >
              <i class="fs-4 bi-bootstrap"></i>
              <span class="ms-1 d-none d-sm-inline">CaseFile</span></a
            >
            <ul
              class="collapse nav flex-column ms-1"
              id="submenu2"
              data-bs-parent="#menu"
            >
              <li class="w-100">
                <a href="/allcases" class="nav-link px-0">
                  <span class="d-none d-sm-inline">All Case Files</span></a
                >
              </li>
              <li>
                <a href="cases/:id" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Case-Details</span></a
                >
              </li>
            </ul>
          </li>
          <li>
            <a
              href="#submenu3"
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
            >
              <i class="fs-4 bi-grid"></i>
              <span class="ms-1 d-none d-sm-inline">People</span>
            </a>
            <ul
              class="collapse nav flex-column ms-1"
              id="submenu3"
              data-bs-parent="#menu"
            >
              <li class="w-100">
                <a href="/allpeople" class="nav-link px-0">
                  <span class="d-none d-sm-inline">All Peoples</span></a
                >
              </li>
              <li>
                <a href="people/:id" class="nav-link px-0">
                  <span class="d-none d-sm-inline">People-Details</span></a
                >
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i>
              <span class="ms-1 d-none d-sm-inline"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="content-area">
      <form (submit)="onSubmit($event)">
        <div class="mb-3">
          <label for="GivenName" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="Name"
            name="name"
            [(ngModel)]="user.person.givenName"
            required
            placeholder="Enter name"
          />
        </div>
        <div class="mb-3">
          <label for="FamiyName" class="form-label">Family Name</label>
          <input
            type="text"
            class="form-control"
            id="FamilyName"
            name="Familyname"
            [(ngModel)]="user.person.familyName"
            required
            placeholder="Enter Family Name"
          />
        </div>
        <div class="mb-3">
          <label for="dateOfBirth" class="form-label">Date of Birth</label>
          <input
            type="text"
            class="form-control"
            id="dateOfBirth"
            name="dateOfBirth"
            [(ngModel)]="user.person.dateOfBirth"
            required
            placeholder="Enter Date of Birth"
          />
        </div>
        <div class="mb-3">
          <label for="PlaceOfBirht" class="form-label">Place of Birth</label>
          <input
            type="text"
            class="form-control"
            id="PlaceOfBirht"
            name="PlaceOfBirht"
            [(ngModel)]="user.person.placeOfBirth"
            required
            placeholder="Enter Place of Birth"
          />
        </div>
        <div *ngFor="let address of user.person.postalAddresses; let i = index">
          <div class="mb-3">
            <label for="City{{i}}" class="form-label">City</label>
            <input
              type="text"
              class="form-control"
              id="City{{i}}"
              name="City{{i}}"
              [(ngModel)]="address.city"
              required
              placeholder="Enter your living city"
            />
          </div>
          <div class="mb-3">
            <label for="country{{i}}" class="form-label">Country</label>
            <input
              type="text"
              class="form-control"
              id="country{{i}}"
              name="country{{i}}"
              [(ngModel)]="address.country"
              required
              placeholder="Enter your living country"
            />
          </div>
          <div class="mb-3">
            <label for="streetAddress{{i}}" class="form-label">Street Address</label>
            <input
              type="text"
              class="form-control"
              id="streetAddress{{i}}"
              name="streetAddress{{i}}"
              [(ngModel)]="address.streetAddress"
              required
              placeholder="Enter your street address"
            />
          </div>
          <div class="mb-3">
            <label for="zip{{i}}" class="form-label">ZIP</label>
            <input
              type="text"
              class="form-control"
              id="zip{{i}}"
              name="zip{{i}}"
              [(ngModel)]="address.zip"
              required
              placeholder="Enter your ZIP code"
            />
          </div>
        </div>
        
        <div *ngFor="let contactMethod of user.person.contactMethods; let i = index">
          <div class="mb-3">
            <label for="description{{i}}" class="form-label">Description</label>
            <input
              type="text"
              class="form-control"
              id="description{{i}}"
              name="description{{i}}"
              [(ngModel)]="contactMethod.description"
              required
              placeholder="Enter description"
            />
          </div>
          <div class="mb-3">
            <label for="type{{i}}" class="form-label">Type</label>
            <input
              type="text"
              class="form-control"
              id="type{{i}}"
              name="type{{i}}"
              [(ngModel)]="contactMethod.type"
              required
              placeholder="Enter type"
            />
          </div>
          <div class="mb-3">
            <label for="value{{i}}" class="form-label">Value</label>
            <input
              type="text"
              class="form-control"
              id="value{{i}}"
              name="value{{i}}"
              [(ngModel)]="contactMethod.value"
              required
              placeholder="Enter value"
            />
          </div>
        </div>
        
        
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            [(ngModel)]="user.username"
            required
            placeholder="Enter username"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            [(ngModel)]="user.password"
            required
            placeholder="Enter password"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Role</label><br />
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="ROLE_CUSTOMER"
              value="ROLE_CUSTOMER"
              name="role"
              [(ngModel)]="isCustomer"
              
            />
            <label class="form-check-label" for="ROLE_CUSTOMER"
              >ROLE CUSTOMER</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="ROLE_ADMIN"
              value="ROLE_ADMIN"
              name="role"
              [(ngModel)]="isAdmin"
            />
            <label class="form-check-label" for="ROLE_ADMIN">ROLE ADMIN</label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <footer>&copy; 2024 Armedia Page. All Rights Reserved.</footer>

    <!-- Bootstrap Bundle JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
