<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ilija Page</title>

</head>
<body>
    <header>
        <nav class="navbar navbar-white bg-white">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../../assets/images/logo-removebg-preview.png" alt="Logo" class="logo">
                </a>
            </div>
        </nav>
    </header>

    <div class="content-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            <h5 class="card-title text-center mb-4">Register</h5>
                            <form (submit)="onSubmit($event)">
                                <div class="mb-3">
                                    <label for="GivenName" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="Name" name="name" [(ngModel)]="user.person.givenName" required placeholder="Enter name">
                                </div>
                                <div class="mb-3">
                                    <label for="FamiyName" class="form-label">Family Name</label>
                                    <input type="text" class="form-control" id="FamilyName" name="Familyname" [(ngModel)]="user.person.familyName" required placeholder="Enter Family Name">
                                </div>
                                <div class="mb-3">
                                    <label for="dateOfBirth" class="form-label">Date of Birth</label>
                                    <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="user.person.dateOfBirth" required placeholder="Enter Date of Birth">
                                </div>
                                <div class="mb-3">
                                  <label for="placeOfBirth" class="form-label">Place of Birth</label>
                                  <input type="text" class="form-control" id="placeOfBirth" name="placeOfBirth" [(ngModel)]="user.person.placeOfBirth" required placeholder="Enter Date of Birth">
                              </div>
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username" required placeholder="Enter username">
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required placeholder="Enter password">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Role</label><br />
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="ROLE_CUSTOMER" value="ROLE_CUSTOMER" name="role" [(ngModel)]="isCustomer">
                                        <label class="form-check-label" for="ROLE_CUSTOMER">ROLE CUSTOMER</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="ROLE_ADMIN" value="ROLE_ADMIN" name="role" [(ngModel)]="isAdmin">
                                        <label class="form-check-label" for="ROLE_ADMIN">ROLE ADMIN</label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Register</button>
                            </form>
                            <p class="mt-3 text-center">Already have an account? <a href="/login">Login here</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>&copy; 2024 Armedia Page. All Rights Reserved.</footer>

    <!-- Bootstrap Bundle JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
