@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";


.container{
  margin-top: -46px;
  margin-left: -32px;
  width: 600px;
}
.list-group-item.active {
  background-color: #343a40;
  border-color: #343a40;
  border-radius: 0%;
}
.btn.btn-primary.add-casefile-button{
  background-color: green;
  border-color: green;
  margin-left: 285px;
}









  

  
  
