
@import "~bootstrap/dist/css/bootstrap.min.css";
img[_ngcontent-ng-c2851571528]{
    height: 75px;
    width: auto;
    margin-top: -40px;
    margin-bottom: 22px;

    
  }

.custom-nav .navbar-nav .nav-item {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
  
  .custom-nav .navbar-nav .nav-item:last-child {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }
  
  .custom-nav .navbar-nav .nav-link {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
  }
  .navbar-nav[_ngcontent-ng-c2851571528] {
    padding-left: 10px;
  }
  
  .custom-nav .navbar-nav .nav-link:hover,
  .custom-nav .navbar-nav .nav-link.active {
    background-color: white;
  }
  .navbar-brand[_ngcontent-ng-c3651022232] {
    color: black;
    font-style: italic;
    font-size: 20px;

  }

  

  
  
