<div class="modal-header">
    <h4 class="modal-title">Add New Person</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="addPerson()" #personForm="ngForm">
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="newPerson.givenName" required>
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="newPerson.familyName" required>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth" class="form-label">Date of Birth</label>
        <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="newPerson.dateOfBirth" required>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth" class="form-label">Place of Birth</label>
        <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="newPerson.placeOfBirth" required>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
  
