<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Armedia Page</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-white bg-white">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              src="../../assets/images/logo-removebg-preview.png"
              alt="Logo"
              class="logo"
            />
          </a>
          <div class="d-flex align-items-center">
            <button class="btn btn-dark" *ngIf="isLoggedIn" (click)="logout()">Logout</button>
        </div>
        </div>
      </nav>
    </header>
    <div class="side-nav">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 text-white"
      >
        <ul
          class="nav flex-column align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a href="/home" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i>
              <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/cases" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i>
              <span class="ms-1 d-none d-sm-inline">Case File</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/people" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i>
              <span class="ms-1 d-none d-sm-inline">People</span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i>
              <span class="ms-1 d-none d-sm-inline"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <footer>&copy; 2024 Armedia Page. All Rights Reserved.</footer>
    <!-- Bootstrap Bundle JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
